[Unit]
Description=Keepalived-exporter Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/keepalived-exporter-1.2.0.linux-amd64/keepalived-exporter

[Install]
WantedBy=multi-user.target
