{% if inventory_hostname == mysql_backup_host %}
10 20 * * * backup mysqldump agama > /home/backup/mysql/agama.sql
12 20 * * 0  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://porty40@backup.{{ domain }}/mysql
12 20 * * 1-6  backup  duplicity --no-encryption incremental /home/backup/mysql/ rsync://porty40@backup.{{ domain }}/mysql
{% endif %}
