apiVersion: 1

deleteDatasources:
  - name: Prometheus
  - name: InfluxDB:latency
  - name: InfluxDB:telegraf

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090/prometheus
    version: 1
    editable: false

  - name: InfluxDB:latency
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: latency

  - name: InfluxDB:telegraf
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: telegraf
