[server]
root_url = http://grafana:{{ hostvars[groups['visualizing_servers'][0]]['ansible_port'] | int + 58 }}/grafana
serve_from_sub_path = true

[security]
admin_user = {{ grafana_user }}
admin_password = {{ grafana_password }}
