zone "{{ domain }}" {
{% if inventory_hostname in groups['dns_masters'] %}
    type master;
    allow-update { key nsupdate.key ;};
    allow-transfer { 127.0.0.1; key transfer.key ;};	
{% else %}
    type secondary;
    allow-transfer { 127.0.0.1; key transfer.key ;};     
    masters {
{% for master in groups['dns_masters'] %}
	{{ hostvars[master]['ansible_default_ipv4']['address'] }};
{% endfor %}
    };
{% endif %}
    file "db.{{ domain }}";
};

zone "168.192.in-addr.arpa" {
{% if inventory_hostname in groups['dns_masters'] %}
    type master;
    allow-update { key nsupdate.key ;};
    allow-transfer { 127.0.0.1; key transfer.key ;};    
{% else %}
    type secondary;
    allow-transfer { 127.0.0.1; key transfer.key ;}; 
    masters {
{% for master in groups['dns_masters'] %}
        {{ hostvars[master]['ansible_default_ipv4']['address'] }};
{% endfor %}
    };
{% endif %}
    file "db.rev.{{ domain }}";
};

{% if inventory_hostname in groups['dns_slaves'] %}
{% for master in groups['dns_masters'] %}
server {{ hostvars[master]['ansible_default_ipv4']['address'] }} {
    keys { transfer.key ;};
};
{% endfor %}
{% endif %}
