acl AL {
	{% for n in allowed_ip %}
	{{ n }};
	{% endfor %}
};
options {
    directory "/var/cache/bind";
    forwarders { 
	{% for n in forwarders %}
        {{ n }};
        {% endfor %}
    };
    allow-query { AL; };
    dnssec-validation no;
};
statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ dns_transfer_key }}";
};
key "nsupdate.key" {
        algorithm hmac-sha256;
        secret "{{ dns_update_key }}";
};

